aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
chardet==4.0.0
charset-normalizer==3.2.0
colorama==0.4.6
FileHandler==1.0.14
frozenlist==1.4.0
idna==2.10
multidict==6.0.4
numpy==1.25.1
openai==0.27.8
packaging==23.1
pandas==2.0.3
pdf2image==1.16.3
Pillow==10.0.0
PyMuPDF==1.22.5
PyPDF2==3.0.1
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2023.3
requests==2.25.1
six==1.16.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.16
yarl==1.9.2
